.palete {
    margin: 3px; 
    /* font-size: 0.7em; */
    padding: 3px;
    /* text-decoration: none; */
    /* color: white;
    background-color: green;   */
}
.palete:hover {
    cursor: pointer;
}
#toolBar1 select { font-size:10px; }
#textBox { 
  height: 300px;
  border: 1px #000000 solid;
  padding: 12px;
  overflow: scroll;
}
#textBox #sourceText {
  padding: 0;
  margin: 0;
  min-width: 498px;
  min-height: 200px;
}
#editMode label { cursor: pointer; }
