.custom-loading{
    text-align: center;
    font-family: 'Segoe UI';
    z-index: 100;
}
.custom-loading-failed{
     color: white;
     background-color: coral
}
.custom-loading-success{
    color: white;
    background-color:lawngreen
}
.custom-loading-warning{
    color: white;
    background-color:orange
}

.custom-loading-loading{
    padding: 3px;
    width:100%;
    font-family: 'Lucida Sans';
    position: fixed;  
    background-color: none;
}
 .loader{
    font-size: '60';
    font-family: 'Arial Black';
    color:white
}
